
<div class="title-container">
<h1> Ideas</h1>

 <%= link_to 'New Post', '/ideas/new' %>
</div>


</div class="ideas">
    <% @idea.each do |idea|%>
       <div class="line">
         
            <div>
                <h3><%= link_to idea.title, idea_path(idea)%></h3>
                <p><%= idea.body%></p>
            </div>
         
        </div>
    <% end %>
</div>